.user{
  background-color: #4CAF50;
  border: none;
  color: white;
  /*padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.admin{
  background-color: #f44336;
  border: none;
  color: white;
  /*padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg{
  width:100vw;
  height: 100vh;
  background-image: url('/cupcake.jpg');
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow:hidden
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navnav{
  display:inline-table
}

.mainArticle{
  margin: 0 auto;
  width: 1170px;
  text-align: left;
  position: relative;
  max-width: 96%
}

.recipecardscontainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: flex-start; /* This line allows for individual card expansion*/
  
}

.recipecardscontainer > * {
  margin: 0 10px;
}

.parent {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border:0;
  margin:0 auto;
  padding:0;

}